@model PagedList.IPagedList< DoAnCoSo.Models.SanPham >
@using PagedList.Mvc;

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title ROYAL CARS </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicon -->
    <link href="~/Assets/img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Assets/lib/owlcarousel/~/Assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: #C0C0C0 ">


    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-2">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" style="height:200px; width:300px;" src="@item.Hinh" alt="Main Picture">
                            <h4 class="text-uppercase mb-4">@item.TenXe</h4>
                            <div class="d-flex justify-content-center mb-4">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <br />
                                    <span>@item.NamSanXuat</span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <br />
                                    <span>@item.HopSo</span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-money text-primary mr-1"></i>
                                    <br />
                                    <span>@item.GiaBan</span>
                                </div>
                            </div>
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.MaXe, @strURL = Request.Url.ToString() })">Add to ShoppingCard</a>
                            @Html.ActionLink("Chi Tiết", "Detail", new { id = item.MaXe }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                @using (Html.BeginForm("Home", "Home", FormMethod.Get))
                {
                    <p>
                        Kích thước trang:@Html.DropDownList("size",
                       (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                    </p>
                }
            </div>

        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" >
            Trang : @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)  / @Model.PageCount
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            @Html.PagedListPager(Model, page => Url.Action("index", new { page, size = ViewBag.currentSize }))
        </div>
 
    </div>
    
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
   

    <style type="text/css">

        #mau-nut a {
            clear: both;
            background-color: orange;
            color: snow;
        }

        #mau-nut a:hover {
            background-color: orangered;
            color: snow;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxLength = 100;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);

                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                    $(this).append('<span class="more-text">' + removedStr +'</span>');
                }
            });
            $(".read-more").click(function () {
                $(this).siblings(".more-text").contents().unwrap();
                $(this).remove();
            });
        });
    </script>
    <style>
        .show-read-more .more-text {
            display: none;
        }
    </style>


</body>

